@charset "utf-8";
/* CSS Document */
body{font-family:"Microsoft Yahei",Arial;font-size:16px; width:800px;margin:1px auto;}
a{color:#0066bb;text-decoration:none;font-family:"Microsoft Yahei",Arial, Helvetica, sans-serif;}
a:hover{text-decoration:none;}
#container{border:1px solid #999;width:800px;}

#header{background-color:#0066bb;color:#FFFFFF;line-height:30px;font-weight:bold; font-size:18px; padding:2px 0 2px 5px;}
#footer{background-color:#0066bb;color:#FFFFFF;line-height:20px; clear:both;font-size:14px;padding:2px 0 2px 5px;}
#footer a{color:#FFFFFF;}
#footer a:hover{text-decoration: underline;}

.navitop{}
.navibottom{border-top: 1px solid #DDDDDD;background-color: #F9F9F9;}
.navi ul{ margin:0;list-style:none;padding: 0; }
.navi ul li{ width:112px; height:30px;float:left; margin:1px 0;text-align:center;}
.navi ul li a{display:block;color:#333333;text-align:center;height:30px; display:block;line-height:30px;}
.navi ul li a:hover{text-decoration:none;color:#ff6600;font-weight:bold;}

.item .category{background:#cccccc;color:#000;line-height:30px;clear:both;padding-left:10px; letter-spacing:5px; word-spacing : 5px;}
.item ul{ margin:0; margin-left:1px;list-style:none;padding:0;}
.item ul li{ width:133px; height:30px; float:left; margin:1px 0;}
.item ul li a{display:block;text-align:center;height:30px; line-height:30px;}
.item ul li a:link{text-decoration:none;color:#0066bb;}
.item ul li a:visited{text-decoration:none;color:#0066bb;}
/*.item ul li a:hover{text-decoration:none;color:#ffffff; font-weight:bold;background: url(../images/arrow_right.gif) no-repeat scroll 100% 50% #0066bb;}*/

.item .bghot{background-color:#f7d67c;}
.item .bgrecomand{background-color: #930; color: #FFF;}
.item .bg1{background-color:#dddacf;}
.item .bg2{background-color:#cfddd3;}